@view-transition {
  navigation: auto;
}

:root {
    --transition-time: 0.7s;
    --font-size-base: 16px;
}

body {
    font-family:monospace;
    background-color: black;
    color: white;
    margin: 5em;
    transition: background-color var(--transition-time) ease-in-out, color 0.5s ease-in-out;

}

.title {
    color: white;
    transition: background-color var(--transition-time) ease-in-out, color 0.5s ease-in-out;

}

