@view-transition {
  navigation: auto;
}

body {
    font-family:monospace;
    /* background-color: ; */
    margin: 2em 5em;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    background: black;
}

.container {
    text-align: center;
}

.howtouse {
    font-family: monospace;
    position: absolute;
    top: 20px;
    left: 50px;
    color: rgb(187, 187, 187);
    background-color: black;
    border: none;
}

.howtouse:hover {
    color: white;
    cursor: pointer;
}

.divider {
    display: flex;
    margin: 10px;
    /* border: 5px solid blue; */
    justify-content: center;
}

.title {
    color: white;
    text-emphasis: bold;
    text-align: center;
    border: 2px solid rgb(170, 0, 0);
    padding: 15px 25px;
    border-radius: 20px;
    background-color: rgb(170, 0, 0);
    display: inline-block;
}

@keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }

.title:hover {
    animation: pulse 1s infinite; /* Apply the pulse animation on hover */
}



.search {
    display: block;
    font-family: monospace;
    min-height: 20px;
    min-width: 430px;
    border-radius: 20px;
    padding: 10px;
    padding-left: 15px;
    outline: none;
    border: 2px solid grey;
    background-color: black;
    color: white;

}

.search:focus {
    outline: none;
    border: 2px solid rgba(255, 0, 0, 0.827);
    
}

.searchbar {
    display: flex;
    margin-bottom:10px;
}

.go {
    display: block;
    font-family: monospace;
    min-height: 20px;
    min-width: 70px;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px;
    padding-left: 15px;
    outline: none;
    border: none;
    background-color: rgb(216, 0, 0);
    color: white;
    /* transition: background-color 0.5s ease-in-out; */

}

.go:hover {
    background-color: rgb(216, 0, 0);
    /* transition: background-color 0.5s ease-in-out; */
    cursor: pointer;
}

.hotcuebar {
    display: flex;
    justify-items: center;
    /* border: 2px solid red; */
    justify-content: space-between;
    margin-top: 10px;
}

.video1, .video2 {
    padding: 50px;
}

.cuepoint {
    background-color: black;
    border: 2px solid black;
    color: white;
    font-family: monospace;
    padding: 10px 5px;
    /* margin-right: 10px; */
}

.loop {
    background-color: black;
    border: 2px solid black;
    color: white;
    font-family: monospace;
    padding: 10px 5px;
    /* margin-right: 10px; */
}

.red {
    border-color: red;
}

.red-active {
    background-color: rgba(255, 0, 0, 0.4);
}

.orange {
    border-color: orange;
}

.orange-active {
    background-color: rgba(255, 166, 0, 0.414);
}

.yellow {
    border-color: yellow;
}

.yellow-active {
    background-color: rgba(255, 255, 0, 0.422);
}

.green {
    border-color: green;
}

.green-active {
    background-color: rgba(0, 128, 0, 0.413);
}

.blue {
    border-color: blue;
}

.blue-active {
    background-color: rgba(0, 0, 255, 0.575);
}

.indigo {
    border-color: indigo;
}

.indigo-active {
    background-color: rgba(76, 0, 130, 0.568);
}

.violet {
    border-color: violet;
}

.violet-active {
    background-color: rgba(238, 130, 238, 0.372);
}

.play {
    background-color: red;
    border: none;
    color: white;
    font-family: monospace;
    /* padding: 5px 3px; */
    /* margin-right: 10px; */
    min-width: 80px;
}

.play:focus {
    outline:none;
    border: 2px solid rgb(170, 0, 0);
}

.keybinds {
    color: rgb(159, 159, 159);
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    padding: 0px 20px;
}

.white-text {
    color: white;
}

#no-highlight1 {
    color: rgb(159, 159, 159);
}

#no-highlight2 {
    color: rgb(159, 159, 159);
}

.bold-text {
    font-weight: bold;
}

.instructions {
    color: rgb(175, 175, 175);
    font-size: 18px;
    text-align: center;


}
.steps {
    display: block;
}

.instructions-title:hover + .steps {
    display: block;
    cursor: pointer;
}

.troubleshooting {
    margin-top: 50px;
}

.troubleshooting-bullets {
    /* text-align: left; */
    max-width: 50em;
    margin: auto;
}

.lighter-white {
    color: rgb(235, 235, 235);
}